body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker', cursive;
}
h1{
  text-align: center;
  color: black;
  padding top: 30px;
  padding-bottom: 70px;
  font-size: 30px;
}
.container{
  display: block;
  position: relative;
  width: 30%;
  height: 30%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.grid{
  display: inline-block;
/*  float: left;*/
  position: relative;
  width: 100px;
  height: 100px;
  background-position: center center;
  margin: 0 auto;
  vertical-align: middle;
  max-width: 30%;
  max-height:30%;
  font-size: 50px;
  text-align: center;
}
/*//row1*/
#a1{
  border-bottom: 10px solid black;
  border-right: 10px solid black; 
}
#a2{
  border-bottom: 10px solid black;
}
#a3{
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
/*//row2*/
#b1{  
  border-bottom: 10px solid black;
  border-right: 10px solid black;
}
#b2{
  border-bottom: 10px solid black;
}
#b3{ 
  border-left: 10px solid black;
  border-bottom: 10px solid black;
}
/*//row3*/
#c1{ 
  border-right: 10px solid black;
}
#c3{  
  border-left: 10px solid black;

}
button{
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  color: white;
  border-style: dashed;
  border-width: 5px;
  border-color: #EFEFEF #2F2F2F;
  border-radius: 4px;
  padding: 5px;
  background-color: black;
  display: block;
  position: relative;
  float: right;
  margin: 50px 300px ; 

}
